/*
------ Media queries

Usage : @include mq('max', $tablet) {...}
            => @media (max-width: 768px) { ... }
    ou 
        @include mq($phone, $tablet) {...}
            => @media (min-width: 480px) and (max-width: 768px) { ... }
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fondPage: hsl(45, 21%, 93%);
  --clr-1: fuchsia;
  --clr-2: limegreen;
  --clr-grey: 0, 0%, 40%;
  --rad: 0.4rem;
  --rayon-knob: 1.2rem;
  --angleRotation: 20deg;
  --bsh: 0px 0px 2px rgba(0, 0, 0, .5);
  --transition-error: .25s ease-in-out;
}

html {
  font-family: sans-serif;
}
@media (max-width: 380px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 380px) and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 1800px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 1800px) {
  html {
    font-size: 18px;
  }
}

body {
  background-color: var(--fondPage);
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  display: grid;
  place-content: center;
}

main {
  width: min(calc(100vw - 2em), 800px);
  min-width: 345px;
  display: grid;
  row-gap: 1.6em;
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}
main.error #leHex {
  margin-top: 4rem;
}
main.error #errorMessage {
  opacity: 1;
  top: -3rem;
}
main.disabled .col label {
  color: #a982a9;
}
main.disabled .col input[type=text] {
  border-color: #a982a9;
}
main.disabled .col button {
  background-color: #a982a9;
}

label,
button {
  cursor: pointer;
}

:focus:not(:focus-visible) {
  outline: none;
}

.hidden {
  position: absolute;
  left: -100vw;
}

#errorMessage,
#leHex {
  grid-area: 2/1;
}

#leHex {
  margin-top: 0;
  z-index: 10;
  transition: margin-top var(--transition-error);
}

#errorMessage {
  --bdr: 2px;
  --h: .6em;
  --clr-bdr: red;
  --bgc: #fff;
  width: max(40ch, 50%);
  position: relative;
  top: 0;
  padding: 1em;
  margin: auto;
  border: var(--bdr) solid var(--clr-bdr);
  border-radius: 0.5em;
  background-color: var(--bgc);
  filter: drop-shadow(0 0 4px var(--clr-bdr));
  opacity: 0;
  z-index: 1;
  transition: opacity var(--transition-error), top var(--transition-error);
}
#errorMessage::before, #errorMessage::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  left: 2em;
  border-style: solid;
  border-width: 0 var(--h) var(--h) var(--h);
}
#errorMessage::before {
  top: calc(var(--h) * -1);
  border-color: transparent transparent var(--clr-bdr) transparent;
}
#errorMessage::after {
  top: calc(var(--h) * -1 + var(--bdr) * 1.414);
  border-color: transparent transparent var(--bgc) transparent;
}
#errorMessage span {
  padding: 0.125em 0.25em;
  font-family: monospace;
  color: #fff;
  background-color: var(--clr-1);
  border-radius: 0.25em;
}

#leInput {
  grid-template: auto 1fr/1fr;
}

#clr-input {
  width: 80%;
  margin: 0 auto;
  border-width: 2px;
  border-top-right-radius: var(--rad);
  border-bottom-right-radius: var(--rad);
}

.col {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
}
.col label {
  grid-area: 1/1/2/3;
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--clr-1);
  text-transform: uppercase;
}
.col button {
  grid-area: 2/2/3/3;
  -webkit-appearance: none;
  appearance: none;
  padding: 0 0.8rem;
  border: 0;
  border-top-right-radius: var(--rad);
  border-bottom-right-radius: var(--rad);
  background-color: var(--clr-1);
  font-family: sans-serif;
  font-size: 2rem;
  color: #fff;
  transition: background-color 0.125s ease-in-out;
}
.col button:hover {
  background-color: #990099;
}
.col button.copied {
  background-color: var(--clr-2);
}
.col:focus-within > :not(label) {
  box-shadow: 0 0 4px 4px green;
}

input[type=text] {
  grid-area: 2/1/3/2;
  -webkit-appearance: none;
  appearance: none;
  padding: 0.25rem 0.5rem;
  font-family: "JetBrains Mono", monospace;
  font-size: 2rem;
  line-height: 1;
  color: var(--clr-1);
  border-style: solid;
  border-width: 1px;
  border-color: var(--clr-1);
  border-radius: var(--rad);
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
input[type=text]:focus {
  font-size: 2rem;
  outline: 0;
}

#panel {
  width: clamp(380px, 100vw, 800px);
  left: 50%;
  transform: translateX(-50%);
  background-color: #d1cfc7;
  padding: 2rem 1em;
}
#panel #settings {
  display: grid;
  grid-template: auto/1fr;
  grid-auto-flow: row;
  row-gap: 1em;
  justify-items: center;
  column-gap: 2em;
}
@media (min-width: 768px) {
  #panel #settings {
    grid-template: 1fr 1fr/1fr 1fr;
    grid-auto-flow: column;
    row-gap: 2em;
  }
}
#panel #settings .ligne {
  width: calc(100% - 4em);
  display: grid;
  grid-template-columns: 1fr 8rem;
  align-items: center;
  gap: 1em;
}
#panel #settings .ligne > * + * {
  justify-self: end;
}
#panel #settings .ligne span {
  font-size: 0.875em;
  font-weight: 100;
}
#panel .knob_wrap {
  display: grid;
  grid-template-columns: 2.4rem 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em;
}
#panel .knob {
  grid-area: 1/1/3/2;
  display: grid;
  place-content: center;
  z-index: 1;
}
#panel .knob label {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  background-color: var(--clr-1);
  border-radius: 50%;
}
#panel .knob label::before, #panel .knob label::after {
  content: "";
  position: absolute;
  transition: transform 0.25s ease-in-out;
}
#panel .knob label::before {
  --haut: 4px;
  width: var(--rayon-knob);
  height: var(--haut);
  top: 50%;
  left: 50%;
  transform: translateY(-50%) rotate(var(--angleRotation));
  transform-origin: 0 50%;
  border-radius: calc(var(--haut) / 2);
  background-color: rgba(255, 255, 255, 0.45);
}
#panel .knob label::after {
  width: 0;
  height: 0;
  top: 50%;
  left: calc(50% + 0.8485281374rem);
  transform-origin: -0.8485281374rem 50%;
  border-style: solid;
  border-width: 0.8485281374rem 0 0.8485281374rem 0.8485281374rem;
  border-color: transparent transparent transparent var(--clr-1);
  transform: translateY(-50%) rotate(var(--angleRotation));
  z-index: -1;
}
#panel .knob .checkbox:checked ~ label {
  background-color: var(--clr-1);
}
#panel .knob .checkbox:checked ~ label::before, #panel .knob .checkbox:checked ~ label::after {
  transform: translatey(-50%) rotate(calc(var(--angleRotation) * -1));
}
#panel .knob .checkbox:checked ~ label::after {
  border-color: transparent transparent transparent var(--clr-1);
}
#panel .choice {
  justify-self: start;
  align-self: center;
  font-family: sans-serif;
  color: var(--clr-1);
}
#panel .choice.disabled {
  color: #a7a7a7;
}
#panel .toggle label {
  --w: 4.2rem;
  --h: 2rem;
  --m: .2rem;
  display: block;
  position: relative;
  width: var(--w);
  height: var(--h);
  border-radius: calc(var(--h) / 2);
  background-color: hsl(var(--clr-grey));
  transition: background-color 0.25s linear;
  box-shadow: var(--bsh) inset;
}
#panel .toggle label::before, #panel .toggle label::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  transition: left 0.125s linear;
}
#panel .toggle label::before {
  width: calc(var(--h) - (var(--m) * 2));
  height: calc(var(--h) - (var(--m) * 2));
  background: #fff;
  top: var(--m);
  left: var(--m);
  box-shadow: var(--bsh);
}
#panel .toggle label:focus::after, #panel .toggle label:hover::after {
  --l: 8px;
  width: var(--l);
  height: var(--l);
  top: calc(var(--h)/2 - var(--l)/2);
  left: calc(var(--h)/2 - var(--l)/2);
  background-color: hsla(var(--clr-grey), 0.5);
  z-index: 100;
}
#panel .toggle input:checked + label {
  background-color: var(--clr-1);
}
#panel .toggle input:checked + label::before {
  left: calc(var(--w) - ((var(--h) - var(--m))));
}
#panel .toggle input:checked + label:focus::after, #panel .toggle input:checked + label:hover::after {
  left: calc(var(--w) - ((var(--h)/2 + var(--m))));
}

#cog {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: hsl(var(--clr-grey));
  background-image: url('data:image/svg+xml;utf8,<svg enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="m0 0h24v24h-24z" fill="none"/><path d="m19.14 12.94c.04-.3.06-.61.06-.94 0-.32-.02-.64-.07-.94l2.03-1.58c.18-.14.23-.41.12-.61l-1.92-3.32c-.12-.22-.37-.29-.59-.22l-2.39.96c-.5-.38-1.03-.7-1.62-.94l-.36-2.54c-.04-.24-.24-.41-.48-.41h-3.84c-.24 0-.43.17-.47.41l-.36 2.54c-.59.24-1.13.57-1.62.94l-2.39-.96c-.22-.08-.47 0-.59.22l-1.91 3.32c-.12.21-.08.47.12.61l2.03 1.58c-.05.3-.09.63-.09.94s.02.64.07.94l-2.03 1.58c-.18.14-.23.41-.12.61l1.92 3.32c.12.22.37.29.59.22l2.39-.96c.5.38 1.03.7 1.62.94l.36 2.54c.05.24.24.41.48.41h3.84c.24 0 .44-.17.47-.41l.36-2.54c.59-.24 1.13-.56 1.62-.94l2.39.96c.22.08.47 0 .59-.22l1.92-3.32c.12-.22.07-.47-.12-.61zm-7.14 2.66c-1.98 0-3.6-1.62-3.6-3.6s1.62-3.6 3.6-3.6 3.6 1.62 3.6 3.6-1.62 3.6-3.6 3.6z"/></svg>');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
#cog::after {
  --offset: -6px;
  content: "";
  position: absolute;
  top: var(--offset);
  left: var(--offset);
  right: var(--offset);
  bottom: var(--offset);
  border: calc(var(--offset) / -2) solid hsl(var(--clr-grey));
  border-radius: inherit;
}
#cog:hover {
  background-color: var(--clr-1);
}
#cog:hover::after {
  border-color: var(--clr-1);
}
/*# sourceMappingURL=sty.css.map */
