// reset input
// d'après : https://moderncss.dev/custom-css-styles-for-form-inputs-and-textareas/

root {
    --input-border: #8b8a8b;
    --input-focus-h: 245;
    --input-focus-s: 100%;
    --input-focus-l: 42%;
}

.input {
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px solid var(--input-border);
    border-radius: 4px;
    transition: 180ms box-shadow ease-in-out;

    &:not(textarea) {
        line-height: 1;
        height: 2.25rem;
    }

    &[readonly] {
        border-style: dotted;
        cursor: not-allowed;
        color: #777;
    }

    &[disabled] {
        --input-border: #ccc;

        background-color: #eee;
        cursor: not-allowed;
    }

    &:focus {
        border-color: hsl(var(--input-focus-h), var(--input-focus-s), var(--input-focus-l));
        box-shadow: 0 0 0 3px hsla(var(--input-focus-h), var(--input-focus-s), calc(var(--input-focus-l) + 40%), 0.8);
    }
}